
<div class="center">
  <h1>Buscar álbum no spotify</h1>
  <input (keyup.enter)="buscarAlbum($event)"  value="" placeholder="Digite o nome do artista">
  <div class="albums">
    <table>
      <thead>
        <tr>
          <th>Foto</th>
          <th>Artista</th>
          <th>Nome do álbum</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let album of response[0]">
          <td><img [src]="album.images[2].url"/></td>
          <td>{{album.artists[0].name}}</td>
          <td>{{album.name}}</td>
          <td><a target="_blank"  [href]="album.externalUrls.externalUrls.spotify">Ver Album</a></td>
        </tr>
      </tbody>

    </table>
  </div>

</div>